@page "/Businessnames"
@rendermode InteractiveServer
@inject DataManagementService DataManagementService
@inject IDialogService DialogService


@attribute [Authorize(Roles = "admin")]
<MudAlert Class="@AlertSeverityVisible" Severity="@AlertSeverity">@AlertSeverityMessage</MudAlert>


<MudGrid Style="min-width: 100%">
    <MudItem lg="11">
        <MudTextField Style="background-color: transparent;" @bind-Value="text_value" Label="Enter business name here" Variant="Variant.Outlined"></MudTextField>
    </MudItem>
    <MudItem lg="1" Style="align-content:center">
        <MudButton OnClick="AddBusinessNamesValue" Class="py-3" FullWidth="true" Variant="Variant.Outlined">Add</MudButton>
    </MudItem>
</MudGrid>
<br />

@foreach (var bs in BusinessNamesSettings)
{
    <MudGrid Style="min-width: 100%">
        <MudItem lg="11">
            <MudButton OnClick="@(() => DeleteBusinessNamesValue(bs))" Color="Color.Error" Icon="@Icons.Material.Filled.Edit">DELETE</MudButton>
            <MudButton OnClick="@(() => EditBusinessNamesValue(bs))" Color="Color.Success" Icon="@Icons.Material.Filled.Delete">EDIT</MudButton>
            <MudButton Variant="Variant.Text">@bs.Value</MudButton>
        </MudItem>
    </MudGrid>
}
<div class="py-10"></div>




<MudAppBar Bottom="true" Fixed="true" Dense="@true" Elevation="25" Style="@($"color:{Colors.LightGreen.Accent3}; background:{Colors.BlueGray.Darken4}; width: 100%;")">
    <MudSpacer></MudSpacer>
    <MudPaper Elevation="24" style="background-color: transparent">
        <p style="background-color: transparent">
            © @DateTime.Now.Year.ToString() <strong>XDS DATA</strong>. All rights reserved.
            <a href="/privacy-policy" style="color: #007bff; text-decoration: none;">Privacy Policy</a> |
            <a href="/terms-of-service" style="color: #007bff; text-decoration: none;">Terms of Service</a> |
            <a href="/cookie-policy" style="color: #007bff; text-decoration: none;">Cookie Policy</a>
        </p>
    </MudPaper>
</MudAppBar>
@code {
    private CancellationTokenSource cancellationTokenSource;
    private MudBlazor.Severity AlertSeverity { get; set; } = MudBlazor.Severity.Success;
    string AlertSeverityVisible = "d-none";
    string AlertSeverityMessage = string.Empty;
    public string text_value { get; set; } = string.Empty;
    SettingsClass settingsClass;
    List<SettingsClass> BusinessNamesSettings = new List<SettingsClass>();
    List<string> settingData = new();
    StringHelper stringHelper = new StringHelper();
    protected override async Task OnInitializedAsync()
    {
        settingData = await DataManagementService.InitializeSettingsDBAsync();
        BusinessNamesSettings = await DataManagementService.GetAllSettingsAsync(SettingsDataType.BusinessName);
        string AlertSeverityVisible = "d-none";
    }
    async Task AddBusinessNamesValue()
    {
        cancellationTokenSource = new CancellationTokenSource();

        settingsClass = new SettingsClass()
        {
            DataType = SettingsDataType.BusinessName,
            Value = text_value.ToUpper()
        };
        if (!string.IsNullOrWhiteSpace(text_value) && settingsClass != null)
        {
            var isItem = await DataManagementService.GetSettingOne(text_value.ToUpper(), SettingsDataType.BusinessName);
            if (isItem == false)
            {
                await DataManagementService.AddSettings(settingsClass, SettingsDataType.BusinessName);
                text_value = string.Empty;
                await  ShowTextForThreeSecondsAsync(true, cancellationTokenSource.Token);
            }
            else
            {
                await ShowTextForThreeSecondsAsync(false, cancellationTokenSource.Token);
            }
            settingsClass = new SettingsClass();
            text_value = string.Empty;
        }
        BusinessNamesSettings = await DataManagementService.GetAllSettingsAsync(SettingsDataType.BusinessName);
        await InvokeAsync(StateHasChanged);
    }
    private async Task DeleteBusinessNamesValue(SettingsClass item)
    {
        if (item != null)
        {
            await DataManagementService.DeleteSetting(item, SettingsDataType.BusinessName);
        }
        BusinessNamesSettings = await DataManagementService.GetAllSettingsAsync(SettingsDataType.BusinessName);
        await InvokeAsync(StateHasChanged);
    }
    private async Task EditBusinessNamesValue(SettingsClass item)
    {
        text_value = item.Value;
        item.DataType = SettingsDataType.BusinessName;
        await InvokeAsync(StateHasChanged);
    }


    public async Task ShowTextForThreeSecondsAsync(bool isSuccussfullyAdd, CancellationToken cancellationToken)
    {
        try
        {
            if (isSuccussfullyAdd)
            {
                AlertSeverityVisible = "d-block";
                AlertSeverity = MudBlazor.Severity.Success;
                AlertSeverityMessage = "Added successfully";
            }
            else
            {
                AlertSeverityVisible = "d-block";
                AlertSeverity = MudBlazor.Severity.Error;
                AlertSeverityMessage = "Already Exits";
            }
            await InvokeAsync(StateHasChanged);
            await Task.Delay(3000, cancellationToken);
            AlertSeverityVisible = "d-none";
            await InvokeAsync(StateHasChanged);
        }
        catch (OperationCanceledException)
        {
        }
    }
}
}
