@page "/Business-names-normalizer"
@rendermode InteractiveServer
@inject DataManagementService DataManagementService
@inject IDialogService DialogService


@attribute [Authorize(Roles = "admin")]
<MudAlert Class="@AlertSeverityVisible" Severity="@AlertSeverity">@AlertSeverityMessage</MudAlert>



<MudGrid style="min-width: 100%;">
    <MudItem>
        <MudTextField Margin="Margin.Normal" Style="background-color: transparent; width: 430px; " @bind-Value="short_value" Label="Replace this" Variant="Variant.Outlined"></MudTextField>
    </MudItem>
    <MudItem>
        <MudTextField Margin="Margin.Normal" Style="background-color: transparent; width: 430px;" @bind-Value="long_value" Label="With this" Variant="Variant.Outlined"></MudTextField>
    </MudItem>
    <MudItem>
        <MudButton OnClick="AddBusinessNamesValue" Variant="Variant.Filled" Style="width: 150px; height: 58px; margin-top: 15px">
            Save Changes
        </MudButton>
    </MudItem>
</MudGrid>
<br />

<MudGrid style="min-width: 100%;">
    <MudItem>
        <MudButton Style="width: 230px; align-items: start; justify-items: start; align-content: start; justify-content: start;" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete">Short name of a business</MudButton>
        <MudButton Style="width: 230px; align-items: start; justify-items: start; align-content: start; justify-content: start;" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete">Fullname of a business</MudButton>
        <MudButton Style="width: 230px; align-items: start; justify-items: start; align-content: start; justify-content: start;" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete">Date Created</MudButton>
        <MudButton Style="width: 230px; align-items: start; justify-items: start; align-content: start; justify-content: start;" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete">Last Date Modified</MudButton>
        <MudButton Style="width: 155px; align-items: start; justify-items: start; align-content: start; justify-content: start;" Color="Color.Primary" Icon="@Icons.Material.Filled.Delete">Select Action</MudButton>
    </MudItem>
</MudGrid>


@foreach (var bs in BusinessNamesSettings)
{
    <MudGrid style="min-width: 100%;">
        <MudItem Style="align-items: start; justify-items: start; align-content: start; justify-content: start;">

            <MudButton Style="width: 230px; align-items: start; justify-items: start; align-content: start; justify-content: start;" Variant="Variant.Text">@bs.ShortValue</MudButton>
            <MudButton Style="width: 230px; align-items: start; justify-items: start; align-content: start; justify-content: start;" Variant="Variant.Text">@bs.LongValue</MudButton>
            <MudButton Style="width: 230px; align-items: start; justify-items: start; align-content: start; justify-content: start;" Variant="Variant.Text">@bs.DateCreated</MudButton>
            <MudButton Style="width: 230px; align-items: start; justify-items: start; align-content: start; justify-content: start;" Variant="Variant.Text">@bs.DateModified</MudButton>
            <MudButton Style="width: 75px; align-items: start; justify-items: start; align-content: start; justify-content: start;" OnClick="@(() => DeleteBusinessNamesValue(bs))" Color="Color.Error" Icon="@Icons.Material.Filled.Edit">DELETE</MudButton>
            <MudButton Style="width: 75px; align-items: start; justify-items: start; align-content: start; justify-content: start;" Color="Color.Success" Icon="@Icons.Material.Filled.Delete">EDIT</MudButton>
        </MudItem>
    </MudGrid>
}
<div class="py-10"></div>




<MudAppBar Bottom="true" Fixed="true" Dense="@true" Elevation="25" Style="@($"color:{Colors.LightGreen.Accent3}; background:{Colors.BlueGray.Darken4}; width: 100%;")">
    <MudSpacer></MudSpacer>
    <MudPaper Elevation="24" style="background-color: transparent">
        <p style="background-color: transparent">
            © @DateTime.Now.Year.ToString() <strong>XDS DATA</strong>. All rights reserved.
            <a href="/privacy-policy" style="color: #007bff; text-decoration: none;">Privacy Policy</a> |
            <a href="/terms-of-service" style="color: #007bff; text-decoration: none;">Terms of Service</a> |
            <a href="/cookie-policy" style="color: #007bff; text-decoration: none;">Cookie Policy</a>
        </p>
    </MudPaper>
</MudAppBar>
@code {
    private CancellationTokenSource cancellationTokenSource;
    private MudBlazor.Severity AlertSeverity { get; set; } = MudBlazor.Severity.Success;
    private string AlertSeverityVisible = "d-none";
    private string AlertSeverityMessage = string.Empty;
    private string short_value { get; set; } = string.Empty;
    private string long_value { get; set; } = string.Empty;
    private BusSettNormalizer settingsClass;
    private List<BusSettNormalizer> BusinessNamesSettings = new();
    private List<BusSettNormalizer> settingData = new();
    private StringHelper stringHelper = new StringHelper();


    private int id;
    private SettingsDataType dataType;
    private DateTime dateCreated;
    private DateTime dateModified;

























    protected override async Task OnInitializedAsync()
    {
        settingData = await DataManagementService.BUS_NUM_InitializeSettingsDBAsyncNormalizer();
        BusinessNamesSettings = await DataManagementService.BUS_NUM_GetAllSettingsAsync();
        string AlertSeverityVisible = "d-none";
    }

    private async Task AddBusinessNamesValue()
    {
        if (dateCreated == default)
        {
            dateCreated = DateTime.Now;
        }
        cancellationTokenSource = new CancellationTokenSource();
        settingsClass = new BusSettNormalizer()
            {
                Id = id,
                ShortValue = short_value,
                LongValue = long_value,
                DataType = SettingsDataType.BusinessNamenormalizer,
                DateCreated = dateCreated,
                DateModified = dateModified
            };
        if (!string.IsNullOrWhiteSpace(short_value) && !string.IsNullOrWhiteSpace(long_value) && settingsClass != null)
        {
            var isItem = await DataManagementService.BUS_NUM_GetSettingOne(settingsClass.ShortValue);
            if (isItem == false)
            {
                await DataManagementService.BUS_NUM_AddSettings(settingsClass);
                settingData = new List<BusSettNormalizer>();
                short_value = string.Empty;
                long_value = string.Empty;
                await ShowTextForThreeSecondsAsync(true, cancellationTokenSource.Token);
            }
            else
            {
                await ShowTextForThreeSecondsAsync(false, cancellationTokenSource.Token);
            }
            settingsClass = new BusSettNormalizer();
        }
        BusinessNamesSettings = await DataManagementService.BUS_NUM_GetAllSettingsAsync();
        await InvokeAsync(StateHasChanged);
    }
    private async Task DeleteBusinessNamesValue(BusSettNormalizer item)
    {
        if (item != null)
        {
            await DataManagementService.BUS_NUM_DeleteSetting(item);
        }
        BusinessNamesSettings = await DataManagementService.BUS_NUM_GetAllSettingsAsync();
        await InvokeAsync(StateHasChanged);
    }
    private async Task EditBusinessNamesValue1(BusSettNormalizer _item)
    {
        // BusSettNormalizer item = new();
        // item = _item;
        // isEditselected = true;
        // id = item.Id;
        // dataType = SettingsDataType.BusinessNamenormalizer;
        // dateCreated = item.DateCreated;
        // dateModified = item.DateModified;
        // short_value = item.ShortValue;
        // long_value = item.LongValue;
        // await InvokeAsync(StateHasChanged);
    }
    public async Task ShowTextForThreeSecondsAsync(bool isSuccussfullyAdd, CancellationToken cancellationToken)
    {
        try
        {
            if (isSuccussfullyAdd)
            {
                AlertSeverityVisible = "d-block";
                AlertSeverity = MudBlazor.Severity.Success;
                AlertSeverityMessage = "Added successfully";
            }
            else
            {
                AlertSeverityVisible = "d-block";
                AlertSeverity = MudBlazor.Severity.Error;
                AlertSeverityMessage = "Already Exits";
            }
            await InvokeAsync(StateHasChanged);
            await Task.Delay(3000, cancellationToken);
            AlertSeverityVisible = "d-none";
            await InvokeAsync(StateHasChanged);
        }
        catch (OperationCanceledException)
        {
        }
    }
}